<div class="footer">
  <div class="content-container">
    <div class="footer-content content content-width animated" [class.content-padding]="sidenavService.shown">
      <span style="line-height: 30px;">
        &copy;
        <a href="http://bfaglobal.com/" target="_blank">
          <img style="height: 10px; margin-top: -3px;" src="assets/images/logos/bfa-logo.png">
        </a>
        {{ year() }}
      </span>
      <span class="logo-container">
        <a href="https://www.rockpa.org/" target="_blank">
          <img style="height: 30px;" src="assets/images/logos/rpalogo-alpha.png">
        </a>
        <a href="https://www.gatesfoundation.org/" target="_blank">
          <img style="height: 30px;" src="assets/images/logos/bmgf-logo.png">
        </a>
      </span>
    </div>
  </div>
</div>