<div id="page-top" class="landing-page no-skin-config pace-done">
    <div class="navbar-wrapper" style="margin-top: 0px;">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand full-logo" routerLink="/app">
                        <img class="logo" src="assets/images/logos/data-stack-white.svg">&nbsp;<strong
                            class="font-bold">&nbsp;DataStack </strong>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        <img class="logo" style="height: 36px; margin-top: -5px;"
                            src="assets/images/logos/data-stack-white.svg">&nbsp;DataStack<br>
                        <div style="font-size: 30px; margin-top: 20px;">
                            <span style=" color: #1ab394;">Improve the </span><br>
                            Volume, Variety, Velocity,<br> and Accuracy
                            <span style="color: #1ab394;">of data</span>
                        </div>
                        <br />

                        <p>&nbsp;</p>
                        <p>
                            <a class="btn btn-lg btn-primary" routerLink="/app" role="button">EXPLORE</a>
                            <a class="caption-link" routerLink="login" role="button">LOGIN</a>
                        </p>
                    </h1>
                    <div class="carousel-image wow zoomIn">
                        <img class="datastack-img" src="assets/images/logos/datastack-logo.png" alt="laptop" />
                    </div>
                </div>
                <div class="header-back one"></div>
            </div>
        </div>


        <section id="goals" class="container services">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Integrate Data Sources</h2>
                    <p>Receive and store multiple formats and types of data via APIs or manual upload.</p>
                </div>
                <div class="col-sm-3">
                    <h2>Streamline Monitoring and Reporting</h2>
                    <p>Quickly generate reports directly from available data and build customizable dashboards. </p>
                </div>
                <div class="col-sm-3">
                    <h2>Data Exploration</h2>
                    <p>Analytically overlay different data sets to discover new insights and generate new types of
                        visualizations.
                    </p>
                </div>
                <div class="col-sm-3">
                    <h2>Open Data</h2>
                    <p>Share intelligence across the institution and with external stakeholders developing collective
                        intelligence
                        that fosters competition and innovation.</p>
                </div>
            </div>
        </section>


        <section id="case-study" class="gray-section team">
            <div class="container">
            </div>
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Sponsored By</h1>
                    </div>
                </div>
                <div class="row m-t-xl m-b-xl">
                    <div class="offset-sm-3 col-sm-3 wow fadeInRight">
                        <div class="team-member">
                            <img src="assets/images/logos/bmgf-logo.png" class="img-responsive img-small" alt="">
                            <h4>
                                <span class="navy">BMGF</span></h4>
                            <p>Bill & Melinda Gates Foundation
                            </p>
                            <ul class="list-inline social-icon">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank"
                                        href="https://www.linkedin.com/company/bill-&-melinda-gates-foundation/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 wow fadeInRight">
                        <div class="team-member">
                            <img src="assets/images/logos/rpalogo-alpha.png" class="img-responsive img-small" alt="">
                            <h4>
                                <span class="navy">RPA</span></h4>
                            <p>Rockefeller Philanthropy Advisors
                            </p>
                            <ul class="list-inline social-icon">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.linkedin.com/company/bfaglobal/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Supported By</h1>
                    </div>
                </div>
                <div class="row m-t-xl m-b-xl">
                    <div class="offset-sm-4 col-sm-4 wow fadeInRight">
                        <div class="team-member">
                            <img src="assets/images/logos/bfa-logo.png" class="img-responsive img-small" alt="">
                            <h4>
                                <span class="navy">BFA</span></h4>
                            <p>Bankable Frontier Associates
                            </p>
                            <ul class="list-inline social-icon">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.linkedin.com/company/bfaglobal/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section id="contact" class=" contact">
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Contact Us</h1>
                    </div>
                </div>
                <div class="row m-b-lg">
                    <div class="col-lg-3 col-lg-offset-3">
                        <address>
                            <strong>
                                <span class="navy">Address Line 1</span>
                            </strong>
                            <br>Address Line 2,
                            <br>City, State, Zip, Country
                        </address>
                    </div>
                    <div class="col-lg-5">
                        <p class="text-color">
                            <strong>
                                <span class="navy">VISION</span>
                            </strong><br>
                            <i>"Data for good."</i><br><br>

                            <strong>
                                <span class="navy">MISSION SATEMENT</span>
                            </strong><br>
                            <i>"To spread the power of information." </i><br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="mailto:info@email.com" class="btn btn-primary">Send us mail</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                        <p>
                            <strong>&copy; 2020 BFA Global</strong>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>