$color-navy-light: #3dc7ab;
$color-navy: #1ab394;
$color-primary: #1ab394;
$color-primary-focus: #18a689;
$color-navy-focus: #18a689;
$color-secondary: #2f4050;
$color-secondary-focus: #293846;
$color-success: #1c84c6;
$color-success-focus: #1a7bb9;
$color-info: #23c6c8;
$color-info-focus: #21b9bb;
$color-warning: #f8ac59;
$color-warning-focus: #f7a54a;
$color-danger: #ed5565;
$color-danger-focus: #ec4758;
$color-black: #262626;
$color-dark-gray: #676a6c;
$color-muted: #888888;
$color-gray: #f3f3f4;
$color-white: #ffffff;

