<div class="jumbotron row">
  <div class="col-sm-6 container">
    <div class="inside">
      <h1>
        <small>Welcome to</small><img _ngcontent-yli-c4="" class="logo"
          src="assets/images/logos/data-stack-white.svg">&nbsp;DataStack
      </h1>
      <div>
        <p>Select one of the items on the left-hand menu to continue.</p>

      </div>
    </div>
  </div>
  <div class="col-sm-6 container" style="text-align: center;">
    <div class="inside">
      <img src="./assets/images/logos/datastack-logo.png" class="ds-logo" alt="" srcset="">
    </div>
  </div>
</div>